html{
    height:100%;
    background: radial-gradient(circle,#fff,#ccc);
}
#container{
    height:400px;
    width:500px;
    background-color: #9DD2EA;
    margin:100px auto;
    padding:20px;
    border-radius:10px;
    box-shadow: 0px 4px 0 0 #009DE4;
    position:relative;
}
#score{
    float:right;
    background-color: #F1FF92;
    color:#8F8E5F;
    padding:10px;
    position:absolute;
    left:450px;
    box-shadow: 0px 4px 0 0 #9DA853;
}
#correct{
    position:absolute;
    background-color: #7EDC50;
    color:white;
    left:240px;
    padding:11px;
/*    display:none;*/
}
#wrong{
    position:absolute;
    background-color: red;
    color:white;
    left:240px;
    padding:11px;
/*    display:none;*/
}
#question{
    width:400px;
    height:150px;
    background-color: #9DA0EA;
    margin:50px auto 10px auto;
    box-shadow:0px 4px #535AA8;
    font-size: 100px;
    font-family:cursive,sans-serif;
    text-align:center;
}
#instruction{
    background-color: #B481D9;
    height:50px;
    width:400px;
    margin:10px auto;
    text-align:center;
    line-height: 45px;
    box-shadow:0px 4px #8153A8;
}
#choices{
    width:400px;
    height:100px;
    margin:5px auto;
}
.box{
    float:left;
    background-color:white;
    width:85px;
    height:85px;
    margin:7px;
    border-radius:5px;
    cursor:pointer;
    box-shadow: 0 4px rgba(0,0,0,0.3);
    text-align:center;
    line-height: 80px;
    position:relative;
    transition:all 0.2s;
     -moz-transition:all 0.2s;
     -webkit-transition:all 0.2s;
     -o-transition:all 0.2s;
    -ms-transition:all 0.2s;
    
}
.box:hover,#startreset:hover{
    background-color: #B481D9;
    box-shadow: 0px 4px #8153A8;
}
.box:active,#startreset:active{
    box-shadow:none;
    top:4px;
}
#startreset{
    background-color: rgba(255,255,255,0.3);
    height:35px;
    width:85px;
    border-radius: 3px;
    text-align:center;
    line-height: 35px;
    transition:all 0.2s;
     -moz-transition:all 0.2s;
     -webkit-transition:all 0.2s;
     -o-transition:all 0.2s;
    -ms-transition:all 0.2s;
    box-shadow: 0 4px rgba(0,0,0,0.3);
    -o-box-shadow:0 4px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 4px rgba(0,0,0,0.3);
    position:relative;
    cursor:pointer;
    margin:0 auto;
}
#timeremaining{
    background-color: #B0E64C;
    width:150px;
    height:35px;
    text-align: center;
    line-height:35px;
    position:absolute;
    left:375px;
    top:395px;
    border-radius:3px;
    box-shadow:0 4px #7EA8BB;
    -o-box-shadow:0 4px #7EA8BB;
    -webkit-box-shadow:0 4px #7EA8BB;
    
    visibility:none;
}
#gameOver{
    height:200px;
    width:450px;
    background:linear-gradient(yellow,orange);
    color:white;
    font-size:30px;
    text-transform: uppercase;
    text-align:center;
    position:absolute;
    top:100px;
    left:45px;
    z-index: 2;
/*    display:none;*/
}